
backend/venv/
backend/.env
backend/migrations
backend/instance
backend/__pycache__
backend/newsletter_app/__pycache__
backend/newsletter_app/controllers/__pycache__
backend/newsletter_app/models/__pycache__
.DS_Store